<div class="modal modal-blur fade" id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3 id="confirm-modal-title">Are you sure?</h3>
        <div class="text-secondary" id="confirm-modal-body">Do you really want to perform this action?</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col">
              <form id="confirm-modal-form" method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmModal = document.getElementById('modal-confirm');
    confirmModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
      const confirmUrl = button.getAttribute('data-confirm-url');
      const confirmTitle = button.getAttribute('data-confirm-title') || 'Are you sure?';
      const confirmBody = button.getAttribute('data-confirm-body') || 'Do you really want to perform this action?';
      
      const form = document.getElementById('confirm-modal-form');
      const title = document.getElementById('confirm-modal-title');
      const body = document.getElementById('confirm-modal-body');
      
      form.action = confirmUrl;
      title.textContent = confirmTitle;
      body.textContent = confirmBody;
    });
  });
</script>
