{% extends 'base.html' %}

{% block page_title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Change Password</h3>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'core:password_change' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="invalid-feedback d-block">
                  {{ field.errors|striptags }}
                </div>
              {% endif %}
              {% if field.help_text %}
                <small class="form-hint">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">Change password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
